*{
	margin:  0;
	border: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

header{
	background-color: rgba(100, 149, 237);
	color: #fff;
	font-family: arial;
	width:  100%;
	position: fixed;
	z-index: 1;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	
}

h3{
	font-size: 3rem;
	font-family: arial;
	margin: 0;
	padding: 5px;
}

@media(min-width: 320px) and (max-width: 450px){
	h3{
	font-size: 2rem;
	font-family: arial;
	margin: 0;
	padding: 5px;
}

}
 

h4{
	font-size: 1.6rem;
	font-family: arial;
	margin: 0;
	padding-bottom: 5px;
}

body{
	background-color: rgba(245, 245, 245);
}

.container{
	display: block;
	background-color: #fff;
	width: 70%;
	box-shadow: 2px 2px #808080;
	margin:  0 auto;
	max-width: 90%;
	max-height: 90%;
	min-width: 0;
	min-height: 0;
	margin-top: 3%;
}

@media(min-width: 320px) and (max-width: 450px){
	.container{
	display: block;
	background-color: #fff;
	width: 99%;
	box-shadow: 2px 2px #808080;
	margin:  0 auto;
	max-width: 90%;
	max-height: 90%;
	min-width: 0;
	min-height: 0;
	margin-top: 6.5rem;
}
}


footer{
	font-family: arial;
	color:  #fff;
	background-color: rgba(100, 149, 237);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 1px 1px 2px #000;

}

p{
	font-family: arial;
	text-align: justify;
	padding: 10px;
	font-size: 1.6rem;
}

h1{
	font-family: arial;
	text-align: center;
	padding-top: 10px;
	font-size: 2.5rem;
}

h2{
	font-family: arial;
	text-align: center;
	padding-top: 10px;
	font-size: 1.9rem;

}

.texto-footer{
	text-align: center;
	font-family: arial;
	padding-top: 10px;
	font-size: 1.6rem;
	padding-bottom: 10px;
}

.compre{
	background-color: rgba(255, 255, 0, 1.0);
	width: 150px;
	height: 100px;
	position: fixed;
	right: 0;
	text-align: center;
	margin-top: 10%;
	z-index: 1;
}

h5{
	font-family: arial;
	text-align: center;
	padding: 1px;
	font-size: 1.9rem;

}

button{
	font-family: arial;
	text-align: center;
	padding: 5px;
	font-size: 1.9rem;
	background-color: rgba(50, 205, 50, 1.0);
	color: #fff;
	border: solid;
}

#grid-container{
	margin-top: 5px;
	background-color: rgba(255,127,80);
	padding: 5px;

}

.grid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
	grid-gap: 1px;
	max-width: 1200px;
	margin: 0 auto;

}

.grid div{
	background-color: #fff;
	font-family: arial;
	text-align: center;
	font-size: 1.6rem;
	padding: 2px;
}

#formulario{
	background-color: rgba(173, 216, 230, 1.0);
}

.formulario-contato{
	font-family: arial;
	font-size: 1.8rem;
	padding: 10px;
	text-align: left;
	margin-left: 5%;
	font-weight: bolder;

}

input{
	font-family: sans-serif;
	font-size: 1.7rem;
	padding: 5px;

}

.dados-formulario{
	width: 60%;

}

nav{
	text-align: right;
	margin-top: 10px;
	font-weight: bold;
	font-family: arial;
	font-size: 1.6rem;
	margin-right: 2%;
	word-spacing: 10px;
}

a{
	text-decoration: none;
	color: rgba(255, 255, 255, 1.0);
	transition: all 300ms ease-in-out;
}

a:hover{
	color: rgba(255, 255, 0, 1.0);

}

div.video{
	position: relative;
	padding-bottom: 50%;
	background-color: rgba(255, 255, 255, 1.0);
	width: 90%;
	height: 90%;
	margin: 0 auto;
	
}

div.video > iframe{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;

}

p.compra-office{
	text-align: center;
	font-weight: bold;
	background-color: rgba(50, 205, 50, 1.0);
	width: 50%;
	margin: 0 auto;
	font-size: 1.7rem;
	font-family: arial;
	border-radius: 30px;
	border: solid rgba(0, 255, 0, 0.55);
	text-shadow: 2px 2px 5px #000;


}